@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
html
{
    font-size: 18px;
}
.grid
{
    max-width: 100%;
    width: 1300px;
    margin: 0 auto;
}
.grid_zone
{
    display: grid;
    grid-template-columns: 20% 80%;
    
}