#login
{
    padding-top: 30px;
}
.login_text
{
    text-align: center;
    text-transform: uppercase;
    color: var(--background);
    font-weight: bold;
    letter-spacing: 0.25px;
    text-shadow: 12px;
}
.tab
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}
.frame
{
    padding:  7px 0;
}
.txt-they
{
    width: 660px;
    height: 52px;
    border-radius: 10px;
    /* outline: 2px solid red; */
    box-shadow: 2px 2px 6px 2px rgba(0, 0 ,0, 0.2s);
    text-transform: capitalize;

}
.left
{
    /* padding-left: -112px; */
}
.checkbox-link
{
    text-decoration: none;
    color: #000;
}
.btn-login
{
    display: flex;
    align-items: center;
    gap: 0 6px;
}
.btn_submit
{
    padding: 10px 20px;
    border: none;
    background-color: var(--background);
    font-weight: bold;
    color: aliceblue;
    border-radius: 4px;
    transition: all 0.3s ease-in;
}
.btn_submit:hover
{
    cursor: pointer;
   background-color: aqua;
}
.hidden
{
    position: relative;
}
.eyeopen,
.eyeclose
{
    position: absolute;
    right: 1%;
    top: 37%;
    
}