@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
}
html
{
    font-size: 18px;
    line-height: 24px;
}
.grid
{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_sever
{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}
.grid-pr
{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_login
{
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
}