#header
{
    position: fixed;
     z-index: 2;
    width: 100%; 
}
#header-top
{
    background-color:var(--header-top);
    padding: 3px 0;
    height: 30px;
}
.header-top-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.funtion
{
    display: flex;
}
.btn-log-in,
.register-link
{
    text-decoration: none;
    margin: 0 6px;
}
.header-top-item
{
    list-style: none;
}
.header-top-item-icon
{
    color: #000;
}
.header-top-link
{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    letter-spacing: 0.25px;
    transition: all 0.3s ease-out;
}
.header-top-link:hover
{
    font-weight: 400;
    text-decoration: underline;
}
#header-bottom
{
    background-color: var(--background);
}
.nav-header-bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* cấp 1 */
.level_1
{
    position: absolute;
    width: 950px;
    height: 100px;
    padding: 0 10px;
    display: none;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.lever_1_item_img
{
    width: 110px;
}
.level_1_list
{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d51538;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
}
.lever_1_item
{
    padding: 0 2px;
}
.lever_1_item_text
{
    text-align: center;
}
.header-bottom-item:hover .level_1
{
    display: block;
}
.logo
{
    width: 80px;
    object-fit: cover;
}
.header-bottom-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}
.header-bottom-item
{
    list-style: none;
    margin: 0 6px;
    position: relative;
}
.header-bottom-link
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--text);
    transition: all 0.3s ease-in;
   
}
.header-bottom-link:hover
{
    border-bottom:4px solid #fff;
    border-bottom-right-radius:6px;
    
}
.boder-link
{
    border-bottom:4px solid #fff;
    border-bottom-right-radius:6px;
    width: 0;
}
.order-list
{
    display: flex;
    align-items: center;
}
.btn-order
{
    border: 1px solid transparent;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25%;
    background-color:#ffc522 ;
    margin-right: 12px;
    transition: all 0.3s ease-in;
}
.btn-order:hover
{
    background-color: #ffd255;
    color: #3d3d3d;
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0 , 0.2);
}
.btn-order:active
{
    outline: #3d3d3d;
}
.img-tel
{
    width: 120px;
}
#carouselExampleSlidesOnly
{
    position: relative;
}
.btn_order
{
    position: absolute;
    top: 55%;
    left: 45%;
    display: block;
}
.btn_order_link
{
    text-decoration: none;
}
.btn_order_btn
{
    border: none;
    text-transform: uppercase;
    background-color: #ffc522;
    color: #fff;
    padding: 10px 30px;
    font-weight: 400;
    font-size: medium;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0 , 0.2);
    transition: all 0.3s ease;
}
.btn_order_btn:hover
{
    color: #c7c5c5;
    transform: scale(1.1);
}
.menu_food_list
{
    display: flex;
    align-items: center;
}
.menu_food_item_food
{
    display: flex;
    align-items: center;
}
.menu_food_item_meta
{
    background-color: var(--background);
    width: 100%;
    padding: 10px 0;
}
.logO_food_img
{
    margin: 0 0 0 54px;
    object-fit: contain;
}
.wapper
{
    padding-top: 100px;
}
.border_menu_food_text
{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 14px 0 0 0 ;
}
.border_menu_food_meta_size
{
   width: 300px;
   margin-left: 24px;
}
.border_menu_food_meta
{
    text-wrap: wrap;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    white-space:unset;
}
.menu_food_item
{
    /* transition: all 0.3s ease-in; */
    background-image: url('../img/food/bcbf5e1d203870803b0b5bbf54739f37.jpg');
    object-fit: cover;
    padding: 32px 0;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
}
.menu_food_item:hover
{
 background-color: #ffcf4c;
}
.menu_food_background:hover
{
    background-color: #ffcf4c;
}
.food_img
{
    width: 260px;
    object-fit: cover;
}
.border_menu_food-item
{
    border: 1px solid transparent;
    padding: 4px 0 0 0 ;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: var(--background);
    opacity: 0.9;
    position: absolute;
    width: 265px;
    max-width: 100%; 
    bottom: -60px;
    /* bottom: 0;  */
}
.border_menu_food-item-img
{
    object-fit: cover;
    padding: 4px 0 6px 15%;
    background-size: cover;
    background-position: 12px;
}
.btn_border_menu_item
{
   margin-left: 20%;
   margin-top: 6px;
}
.btn_border_menu_item_link
{
    text-decoration: none;
}
.btn_border_menu_item_link_btn
{
    background-color: #ffc522;
    border: none;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.25px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    transition: all 0.3s ease-in;
}
.btn_border_menu_item_link_btn:hover
{
    background-color: #ffd255;
    color: #c7c5c5;
    cursor: pointer;
    box-shadow:  2px 2px 6px 2px rgba(0, 0, 0 , 0.2);
}
.btn_border_menu_item_link_btn:active
{
    outline-color: #c7c5c5;
}
.menu_food_item:hover .border_menu_food-item
{
    bottom: 0;
}
/* dịch vụ */
.bachground_service
{
    background-image: url('../img/dichvu/jollibee-kid-party-bg.png');
    background-size: cover;
    background-clip: border-box;
}
.service_list
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_padding
{
    padding-top: 32px;
    padding-bottom: 32px;
}
.service_text
{
    text-transform: uppercase;
    color: var(--background);
    font-weight: 600;
    letter-spacing: 0.25px;
    text-align: center;
}
.service_text_meta
{
    text-align: center;
    padding-top: 6px;
    font-weight: 600;
    letter-spacing: 0.25px;
}
.service_item
{
    width: 250px;
}
.service_img
{
    width: 250px;
}
.service_item_text
{
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding-top: 12px;
}
.service_btn
{
    border: none;
    background-color: var(--background);
    color: #fff;
    width: 150px;
    padding: 6px;
   margin-left: 52px;
   letter-spacing: 0.25px;
   text-transform: uppercase;
   border-radius: 6px;
   transition: all 0.3s ease-in;
}
.service_btn:hover
{
    background-color: #e73152;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0 , 0.2);
}
.service_btn_1
{
    margin-top: 46px;
}
.service_btn_3
{
    margin-top: 46px;
}
/* xin chào */
.bachground_hello
{
    background-image: url('../img/hello/about_bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.hello_text
{
    padding: 32px 0;
}
.hello_text_hlable_size
{
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
.hello_text_h3
{
    letter-spacing: 0.25px;
    color: #e73152;
    font-weight: bold;
    text-align: center;

}
.hello_text_hlable
{
    font-weight: 400;
    white-space:initial;
}
.btn{

    width: 450px;
    max-width: 100%;
   margin-left: 200px;
   margin-top: 12px;
}
.hrlo_btn
{
    text-transform: uppercase;
    width: 300px;
    padding: 10px 0;
    margin: 0 auto;
    border: none;
    background-color: #e73152;
    color: #fff;
    font-weight:bolder ;
}
/* tin tức */
.news_list
{
    display: flex;
    justify-content: space-around;
}
.news_text
{
    text-transform: uppercase;
    color: #e73152;
    font-weight: bold;
    padding-top: 32px;
    text-align: center;
    text-shadow: #a16d6d;
    letter-spacing: 0.2px;
}
.news_item
{
    overflow: hidden;
    display: block;
    width: 280px;
}
.news-img
{
    width: 250px;
    max-width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
}
.news_item:hover .news-img
{
    transform: scale(1.1);
    opacity: 0.8;
}
.news_link_s
{
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 6px;
    letter-spacing: 0.25px;
    white-space: inherit;
    transition: all 0.3s ease-in;
}
.news_link_s:hover
{
    color: #e73152;
    text-decoration: underline;
}
.news-text
{
    color: #9d9c9c;
    line-height: 24px;
    font-size: 0.8rem;
}
/* video */
#video
{
    background-color: #e73152;
}
.video_list
{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}
.video_text
{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 40px;
}
.video_menu_list
{
    display: flex;
   gap: 10px 10px;
   padding: 6px 0;
}
.vidoe_text
{
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.25px;
    font-weight: bold;
}
.vidoe-meta
{
    font-size: 0.7rem;
    color: #d4d2d2;
}
.btnvidoe
{
    border: none;
    background-color: #ffc522;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 620px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0 , 0.2);
    transition: all 0.3s ease-in;
}
.btnvidoe:hover
{
    background-color: #ffd255;
}
/* footer */
#footer
{
    /* max-width: 100%; */
    background-color:#d51538;
}
.footer_list
{
    display: grid;
    grid-template-columns: 10% 35% 25% 30%;
    padding: 40px 0 0 0;
}
.logo_footer
{
    object-fit: cover;
    filter: drop-shadow(2px 2px 8px 2px rgba(0 , 0 ,0 , 0.2));
}
.footer_item_lisst_item
{
    list-style: none;
    padding: 6px 0;
}
.footer_item_lisst_item_texxt
{
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.25px;
    font-weight: 400;
}
.footer_item_lisst_item_link
{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.25px;
    transition: all 0.3s ease;
}
.footer_item_lisst_item_link:hover
{
    color: #b8b1b1;
    text-decoration: underline;
}
.foter_img
{
    width: 250px;
}
.footer_item_lisst_texxxt
{
    font-weight: bold;
    color: #fff;
}
.footer_item_lisst_item_img_texxt
{
    color: #fff;
    text-transform: capitalize;
}
.footer_item_lisst_item_border
{
    border-bottom: 1px solid black;
}
.footer_texxt
{
    color: #fff;
    letter-spacing: 0.25px;
}
.media-appstore,
.media-playsoter
{
    width: 150px;
}
.footer_booder
{
    border-bottom: 1px solid rgb(133, 133, 133);
}
.texxtafads
{
    text-align: center;
    color: #fff;
    padding: 10px 0;
}